<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="O3D_Test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <O3D_Test.My.MySettings>
            <setting name="ImpPfad" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpPfad" serializeAs="String">
                <value />
            </setting>
            <setting name="PObjekteVis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PObjekteX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PObjekteY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PObjekteW" serializeAs="String">
                <value>271</value>
            </setting>
            <setting name="PObjekteH" serializeAs="String">
                <value>328</value>
            </setting>
            <setting name="PTextureVis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PTextureX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PTextureY" serializeAs="String">
                <value>338</value>
            </setting>
            <setting name="PTextureW" serializeAs="String">
                <value>392</value>
            </setting>
            <setting name="PTextureH" serializeAs="String">
                <value>337</value>
            </setting>
            <setting name="WireframeV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitterV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OrtoScale" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Letzte" serializeAs="String">
                <value />
            </setting>
            <setting name="OmsiPfad" serializeAs="String">
                <value>C:\Programme\Steam\steamapps\common\OMSI 2</value>
            </setting>
            <setting name="PEigenschaftenX" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="PEigenschaftenY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PEigenschaftenV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PEigenschaftenH" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="CamPaxColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CamDriverColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CamReflexColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="OpenPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="BackColor3D" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="eMail" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SaveIntervalActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveIntervalAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="DriverColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="AchsenColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BackupAnlegen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepToolPfad" serializeAs="String">
                <value>C:\Programme\Steam\steamapps\common\OMSI 2\SDK\RepaintTool.exe</value>
            </setting>
            <setting name="PfadeOrigBreite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoConvertO3D" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineColor3D" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="lastExportFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastImportFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreatorID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="o3dRemoveSpec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XUpAxis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="X3dUpAxis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="X3dScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowAlpha" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="fpsLimit" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Einstellung" serializeAs="String">
                <value>0</value>
            </setting>
        </O3D_Test.My.MySettings>
    </userSettings>
</configuration>
